<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="estiloSeguridad.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
<header>
	<a th:href="@{/index}">
		<div class="titulo">
			<img src="/img/logo_small2.png" alt="logo">
		</div>
	</a>                    
</header>
<h1 class="h1">Inicia Sesion</h1>
		<div th:if="${param.logout}">
			Ha terminado la sesion
		</div>
		<form th:action="@{/login}" method="post">
			<div><label> Nombre : <input type="text" name="username"/> </label></div>
			<div><label> Contraseña : <input type="password" name="password"/> </label></div>
			<div class="registrate"><input type="submit" value="Inicia Sesion"/></div>
		</form>
		<div th:if="${param.error}" class="error">
			Nombre o contraseña incorrecta
		</div>
</body>
</html>